{
  "semi": true,
  "trailingComma": "all",
  "singleQuote": false,
  "printWidth": 180,
  "tabWidth": 2,
  "arrowParens": "avoid",
  "[typescript]": {
    "editor.formatOnPaste": false,
    "editor.formatOnSave": false
  },
  "editor.formatOnPaste": true,
  "editor.formatOnSave": true
}